.home {
.top_bar{
    width: 100%;
    display: flex;
    justify-content: end;
}
  .items_list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
}
