@use "../../styles/abstracts/variables.scss" as *;

.item_card {
  margin: 5px 0px;
  position: relative;
  height: 300px;
  width: 300px;
  animation: fadein .4s ease;
  animation: moveUp .7s forwards;
  
  .background {
    position: absolute;
    top: 65px;
    padding: 20px;
    border-radius: 3px;
    bottom: 0;
    width: 100%;
    height: fit-content;
    box-shadow: $main_shadow;
    cursor: pointer;
    .content {
      z-index: 1;
      margin-top: -85px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 1px;
      align-items: center;
      img {
        width: 160px;
        object-fit: cover;
        border-radius: 100px;
        cursor: pointer;
      }
      .text {
        margin-top: 15px;
        text-align: center;
        line-height: 30px;
        .title {
          color: $dark;
          text-transform: uppercase;
          font-size: 1.1rem;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .description {
          color: $muted_text;
          font-weight: 500;
        }
      }
    }
  }
}