@use "../../../common/styles/abstracts/variables" as *;

.header {
  height: 60px;
  border-bottom: 1px solid $light;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 20px;
  .logo {
    cursor: pointer;
    .logo_text {
      font-size: 1.3rem;
      color: $primary_color;
    }
  }
}
